<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD1TCqwEu8TpcmK9gRIYNinrqBhc8LD2pI</string>
	<key>GCM_SENDER_ID</key>
	<string>758989089995</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Rngpt1</string>
	<key>PROJECT_ID</key>
	<string>rngpt-e1a44</string>
	<key>STORAGE_BUCKET</key>
	<string>rngpt-e1a44.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:758989089995:ios:6fe85f8f82e59c94fd3f4e</string>
</dict>
</plist>
